name: Build Extension Artifact

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Zip extension
        run: zip -r extension.zip manifest.json src/ icons/

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: extension-build
          path: extension.zip
